body {
	color: #94C1C9;
	background-image: url('../images/_large.jpg');
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.active {
	color: #3D3C3A;
	background: rgb(73,73,73); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}


.navbar {
	border: 0px;
	color: #5D7D8A !important;
	background: rgb(73,73,73); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.75);
}

#footer {
	border: 0px;
	color: #5D7D8A !important;
	background: rgb(73,73,73); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}

.gradient_main {
	background: rgb(73,73,73); /* Old browsers */
background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(0,169,148,1) 0%, rgba(1,187,150,1) 18%, rgba(0,225,151,1) 38%, rgba(145,245,147,1) 54%, rgba(181,245,149,1) 73%, rgba(211,245,148,1) 99%, rgba(81,81,81,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(0%,rgba(0,169,148,1)), color-stop(18%,rgba(1,187,150,1)), color-stop(38%,rgba(0,225,151,1)), color-stop(54%,rgba(145,245,147,1)), color-stop(73%,rgba(181,245,149,1)), color-stop(99%,rgba(211,245,148,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(0,169,148,1) 0%,rgba(1,187,150,1) 18%,rgba(0,225,151,1) 38%,rgba(145,245,147,1) 54%,rgba(181,245,149,1) 73%,rgba(211,245,148,1) 99%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(0,169,148,1) 0%,rgba(1,187,150,1) 18%,rgba(0,225,151,1) 38%,rgba(145,245,147,1) 54%,rgba(181,245,149,1) 73%,rgba(211,245,148,1) 99%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(0,169,148,1) 0%,rgba(1,187,150,1) 18%,rgba(0,225,151,1) 38%,rgba(145,245,147,1) 54%,rgba(181,245,149,1) 73%,rgba(211,245,148,1) 99%,rgba(81,81,81,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(0,169,148,1) 0%,rgba(1,187,150,1) 18%,rgba(0,225,151,1) 38%,rgba(145,245,147,1) 54%,rgba(181,245,149,1) 73%,rgba(211,245,148,1) 99%,rgba(81,81,81,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    left: 0;
	bottom:61px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 0px solid rgba(50, 50, 50, 0.75);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.44) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.44)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 1px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  color: #3D3C3A;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  background-color: none;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: none;
}


/*
 * Main content
 */

.main {
  /*padding: 20px;*/
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.search_group {
background: none;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
color: #728FA9;
border-color: #728FA9;
}


.icon {
	width: 32px;
	height: 32px;
	padding:1px;
	margin:5px;
}

.list-group {
	margin:-10px;
	border-color: rgb(73,73,73);
	background: none;
}
.list-group-item {
	color: rgb(73,73,73);
	border-color: rgb(73,73,73);
	border-width: 1px;
	background: none;
}

.panel {
	color: rgb(73,73,73);
	border-width: 0px;
-webkit-box-shadow: 3px 2px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 2px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 2px 10px 0px rgba(50, 50, 50, 0.75);

background: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 48%, rgba(255,255,255,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(48%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#40ffffff',GradientType=0 ); /* IE6-9 */

}

.panel-heading {
	border-width: 0px;
	color: #b6ff00;
	background: rgb(73,73,73); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}